* {
    font-family: 'Arvo', sans-serif;
    line-height: normal;
    color: aliceblue;
}

* {
    box-sizing: border-box;
}

body {
    padding-bottom: 40px;
    color: #5a5a5a;
    background-image: url("../img/photo-1526925539332-aa3b66e35444.jpeg");
    background-repeat: no-repeat;
    text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F,
        0 0 0.2em #87F;
}

.thumbnail-img {
    display: inline-block;
    max-width: 40%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: rgb(61, 0, 230);
    border: 1px solid rgb(82, 40, 197);
    border-radius: 45px;
    transition: all .2s ease-in-out;
}

.img-resp {
    display: block;
    max-width: 100%;
    margin: auto;
    border-radius: 50%;
    height: auto;
}

.img-resp1 {
    display: block;
    max-width: 100%;
    margin: auto;
    margin-bottom: 10px;
    height: auto;
}

.icon-git {
    max-width: 10%;
    height: auto;
    border-radius: 82%;
    background-color: azure;
}

.shadow-a {
    text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F,
        0 0 0.2em #87F;
}

div.pos {
    margin: 0 auto;
    position: relative;
    left: 30%;
}